.TODOInput
  box-sizing border-box
  &.-new
    width 100%
    font-size: 24px
    background-color: #363c48
    padding 12px
    border-radius 12px
    outline none
    color: #EEE
    border: 1px solid #1c1e23;
    margin 36px 0

    &::placeholder
      color #777

    &:focus
      box-shadow: 0 0 3pt 2pt dodgerblue;

  &.-edit
    margin-left: 41px
    outline none
    background-color transparent
    border none
    border-bottom 1px solid #777
    font-size: 18px
    width: 100%
